services:
  db:
    image: postgres:15
    ports:
      - "5431:5432"
    restart: no
    env_file:
      - .env
    environment:
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${POSTGRES_DB}

  adminer:
    image: adminer:latest
    restart: no
    ports:
      - "8898:8080"